In [3]:
import os, sys
import numpy as np
import pandas as pd

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [129]:
# sets scope, credentials, client - don't mess with this
scope = ['https://spreadsheets.google.com/feeds',
        'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('squirtudo-496dea56c402.json', scope)
client = gspread.authorize(creds)

# sheet name: squirtudo client has perms for all sheets in our shared folder
sheet = client.open('raid-boss-database').sheet1

# data is a list of dicts, each of which is a row
data = sheet.get_all_records()

In [130]:
gymPotentialNames = []

for name in umdGyms['Potential Names']:
    if type(name) == str:
        name = [x.strip() for x in name.split(',')]
        if type(name) == list:
            gymPotentialNames.extend(name)
        if type(name) == str:
            gymPotentialNames.append(name)
            
gymPotentialNames = [x.lower() for x in gymPotentialNames]

In [143]:
def get_gym_info(userinput):
    '''
    Goal: based on string from user input,
    match as closely as possible to entry in common gym names
    (are any gyms close enough to need duplicate handling?)
    then match to actual gym name
    return gym info, mainly gmaps link
    '''
    bestRatio = 0
    bestMatch = ""
    matchedName = ""
    actualGym = pd.DataFrame()
    
    for gymName in gymPotentialNames:
        ratio = fuzz.partial_ratio(userinput,gymName)
        if ratio > bestRatio:
            bestMatch = gymName
            bestRatio = ratio
        
        matchedName = bestMatch
    
    actualGym = umdGyms[umdGyms['Potential Names'].str.contains(matchedName)]
    
    return(actualGym)

In [144]:
for potentialInput in gymPotentialNames:
    print(potentialInput)
    display(get_gym_info(potentialInput))
    print('-------------------------------------------------------------------------------------')

testudo at xfinity center

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Testudo at Xfinity Center,testudo at xfinity center,38.994903,-76.940376,"https://www.google.com/maps/dir//38.994903,-76..."

-------------------------------------------------------------------------------------
metallic terp

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Metallic Terp,"metallic terp, school of public health, spg",38.993417,-76.942844,"https://www.google.com/maps/dir//38.993417,-76..."

-------------------------------------------------------------------------------------
school of public health

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Metallic Terp,"metallic terp, school of public health, spg",38.993417,-76.942844,"https://www.google.com/maps/dir//38.993417,-76..."

-------------------------------------------------------------------------------------
spg

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Metallic Terp,"metallic terp, school of public health, spg",38.993417,-76.942844,"https://www.google.com/maps/dir//38.993417,-76..."

-------------------------------------------------------------------------------------
umd recycling murals

,Potential Names,Latitude,Longitude,Maps
Name,,,,
UMD Recycling Murals,umd recycling murals,38.993166,-76.939681,"https://www.google.com/maps/?daddr=38.993166,-..."

-------------------------------------------------------------------------------------
public health garden

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Public Health Garden,"public health garden, phg",38.993111,-76.944327,"https://www.google.com/maps/?daddr=38.993111,-..."

-------------------------------------------------------------------------------------
phg

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Public Health Garden,"public health garden, phg",38.993111,-76.944327,"https://www.google.com/maps/?daddr=38.993111,-..."

-------------------------------------------------------------------------------------
umd north campus diner

,Potential Names,Latitude,Longitude,Maps
Name,,,,
UMD North Campus Diner,umd north campus diner,38.992343,-76.946748,"https://www.google.com/maps/?daddr=38.992343,-..."

-------------------------------------------------------------------------------------
clarice smith performing arts center

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Clarice Smith Performing Arts Center,"clarice smith performing arts center, cspac",38.991253,-76.950146,"https://www.google.com/maps/dir//38.991253,-76..."

-------------------------------------------------------------------------------------
cspac

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Clarice Smith Performing Arts Center,"clarice smith performing arts center, cspac",38.991253,-76.950146,"https://www.google.com/maps/dir//38.991253,-76..."

-------------------------------------------------------------------------------------
college park volunteer fire department

,Potential Names,Latitude,Longitude,Maps
Name,,,,
College Park Volunteer Fire Department,"college park volunteer fire department, cpfd",38.990326,-76.933956,"https://www.google.com/maps/dir//38.990326,-76..."

-------------------------------------------------------------------------------------
cpfd

,Potential Names,Latitude,Longitude,Maps
Name,,,,
College Park Volunteer Fire Department,"college park volunteer fire department, cpfd",38.990326,-76.933956,"https://www.google.com/maps/dir//38.990326,-76..."

-------------------------------------------------------------------------------------
glenn l. martin wind tunnel

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Glenn L. Martin Wind Tunnel,glenn l. martin wind tunnel,38.989844,-76.937092,"https://www.google.com/maps/dir//38.989844,-76..."

-------------------------------------------------------------------------------------
bradford

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Bradford,"bradford, chem building",38.989229,-76.94032,"https://www.google.com/maps/?daddr=38.989229,-..."

-------------------------------------------------------------------------------------
chem building

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Bradford,"bradford, chem building",38.989229,-76.94032,"https://www.google.com/maps/?daddr=38.989229,-..."

-------------------------------------------------------------------------------------
testudo at byrd stadium

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Testudo at Byrd Stadium,testudo at byrd stadium,38.989204,-76.949035,"https://www.google.com/maps/dir//38.989204,-76..."

-------------------------------------------------------------------------------------
unless recycle art

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Unless Recycle Art,unless recycle art,38.989053,-76.941982,"https://www.google.com/maps/?daddr=38.989053,-..."

-------------------------------------------------------------------------------------
founders' gateway

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Founders' Gateway,founders' gateway,38.988665,-76.935775,"https://www.google.com/maps/?daddr=38.988665,-..."

-------------------------------------------------------------------------------------
stamp union clock tower

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Stamp Union Clock Tower,stamp union clock tower,38.987627,-76.944388,"https://www.google.com/maps/?daddr=38.987627,-..."

-------------------------------------------------------------------------------------
jim henson statue

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Jim Henson Statue,jim henson statue,38.987618,-76.945109,"https://www.google.com/maps/?daddr=38.987618,-..."

-------------------------------------------------------------------------------------
knight hall

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Knight Hall,knight hall,38.987094,-76.948735,"https://www.google.com/maps/?daddr=38.987094,-..."

-------------------------------------------------------------------------------------
woods hall rain garden

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Woods Hall Rain Garden,woods hall rain garden,38.985161,-76.942229,"https://www.google.com/maps/dir//38.985161,-76..."

-------------------------------------------------------------------------------------
university of maryland memoria

,Potential Names,Latitude,Longitude,Maps
Name,,,,
University of Maryland Memoria,"university of maryland memoria, chapel",38.984195,-76.940464,"https://www.google.com/maps/?daddr=38.984195,-..."

-------------------------------------------------------------------------------------
chapel

,Potential Names,Latitude,Longitude,Maps
Name,,,,
University of Maryland Memoria,"university of maryland memoria, chapel",38.984195,-76.940464,"https://www.google.com/maps/?daddr=38.984195,-..."
Garden of Reflection and Remembrance,"garden of reflection and remembrance, chapel g...",38.983870,-76.941111,"https://www.google.com/maps/?daddr=38.98387,-7..."

-------------------------------------------------------------------------------------
garden of reflection and remembrance

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Garden of Reflection and Remembrance,"garden of reflection and remembrance, chapel g...",38.98387,-76.941111,"https://www.google.com/maps/?daddr=38.98387,-7..."

-------------------------------------------------------------------------------------
chapel garden

,Potential Names,Latitude,Longitude,Maps
Name,,,,
University of Maryland Memoria,"university of maryland memoria, chapel",38.984195,-76.940464,"https://www.google.com/maps/?daddr=38.984195,-..."
Garden of Reflection and Remembrance,"garden of reflection and remembrance, chapel g...",38.983870,-76.941111,"https://www.google.com/maps/?daddr=38.98387,-7..."

-------------------------------------------------------------------------------------
washington quad renovation

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Washington Quad Renovation,washington quad renovation,38.98229,-76.941287,"https://www.google.com/maps/?daddr=38.98229,-7..."

-------------------------------------------------------------------------------------
st. andrew's episcopal church

,Potential Names,Latitude,Longitude,Maps
Name,,,,
St. Andrew's Episcopal Church,st. andrew's episcopal church,38.982025,-76.935298,"https://www.google.com/maps/?daddr=38.982025,-..."

-------------------------------------------------------------------------------------
"the university of maryland is

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""The University of Maryland Is","""the university of maryland is, potbellys, umd is",38.98202,-76.93813,"https://www.google.com/maps/?daddr=38.98202,-7..."

-------------------------------------------------------------------------------------
potbellys

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""The University of Maryland Is","""the university of maryland is, potbellys, umd is",38.98202,-76.93813,"https://www.google.com/maps/?daddr=38.98202,-7..."

-------------------------------------------------------------------------------------
umd is

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""The University of Maryland Is","""the university of maryland is, potbellys, umd is",38.98202,-76.93813,"https://www.google.com/maps/?daddr=38.98202,-7..."

-------------------------------------------------------------------------------------
the church of jesus christ of latter-day saints

,Potential Names,Latitude,Longitude,Maps
Name,,,,
The Church of Jesus Christ of Latter-Day Saints,the church of jesus christ of latter-day saint...,38.981833,-76.947268,"https://www.google.com/maps/?daddr=38.981833,-..."

-------------------------------------------------------------------------------------
lds

,Potential Names,Latitude,Longitude,Maps
Name,,,,
The Church of Jesus Christ of Latter-Day Saints,the church of jesus christ of latter-day saint...,38.981833,-76.947268,"https://www.google.com/maps/?daddr=38.981833,-..."

-------------------------------------------------------------------------------------
mormon church

,Potential Names,Latitude,Longitude,Maps
Name,,,,
The Church of Jesus Christ of Latter-Day Saints,the church of jesus christ of latter-day saint...,38.981833,-76.947268,"https://www.google.com/maps/?daddr=38.981833,-..."

-------------------------------------------------------------------------------------
joseph michael mitchell memorial grotto

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Joseph Michael Mitchell Memorial Grotto,joseph michael mitchell memorial grotto,38.981009,-76.945182,"https://www.google.com/maps/dir//38.981009,-76..."

-------------------------------------------------------------------------------------
"from stagecoach to streetcar

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""From Stagecoach to Streetcar","""from stagecoach to streetcar, smoothie king, ...",38.98092,-76.93768,"https://www.google.com/maps/?daddr=38.98092,-7..."

-------------------------------------------------------------------------------------
smoothie king

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""From Stagecoach to Streetcar","""from stagecoach to streetcar, smoothie king, ...",38.98092,-76.93768,"https://www.google.com/maps/?daddr=38.98092,-7..."

-------------------------------------------------------------------------------------
cornerstone

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"""From Stagecoach to Streetcar","""from stagecoach to streetcar, smoothie king, ...",38.98092,-76.93768,"https://www.google.com/maps/?daddr=38.98092,-7..."

-------------------------------------------------------------------------------------
starbucks

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Starbucks,starbucks,38.980486,-76.938921,https://www.google.com/maps/?daddr=38.98048594...

-------------------------------------------------------------------------------------
leonardtown community center

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Leonardtown Community Center,"leonardtown community center, lcc",38.983371,-76.933489,"https://www.google.com/maps/?daddr=38.983371,-..."

-------------------------------------------------------------------------------------
lcc

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Leonardtown Community Center,"leonardtown community center, lcc",38.983371,-76.933489,"https://www.google.com/maps/?daddr=38.983371,-..."

-------------------------------------------------------------------------------------
university baptist church

,Potential Names,Latitude,Longitude,Maps
Name,,,,
University Baptist Church,"university baptist church, ubc",38.984933,-76.953408,"https://www.google.com/maps/?daddr=38.984933,-..."

-------------------------------------------------------------------------------------
ubc

,Potential Names,Latitude,Longitude,Maps
Name,,,,
University Baptist Church,"university baptist church, ubc",38.984933,-76.953408,"https://www.google.com/maps/?daddr=38.984933,-..."

-------------------------------------------------------------------------------------
peace tree scuplture

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Peace Tree Scuplture,peace tree scuplture,38.986523,-76.95216,"https://www.google.com/maps/?daddr=38.986523,-..."

-------------------------------------------------------------------------------------
wallace presbyterian church

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Wallace Presbyterian Church,wallace presbyterian church,39.00014,-76.945466,"https://www.google.com/maps/?daddr=39.00014,-7..."

-------------------------------------------------------------------------------------
kingdom hall of jahovah's witnesses

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Kingdom Hall of Jahovah's Witnesses,kingdom hall of jahovah's witnesses,39.001042,-76.946657,"https://www.google.com/maps/?daddr=39.001042,-..."

-------------------------------------------------------------------------------------
mile 2.5

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"Mile 2.5, Paint Branch Trail","mile 2.5, paint branch trail",39.002081,-76.937291,"https://www.google.com/maps/?daddr=39.002081,-..."

-------------------------------------------------------------------------------------
paint branch trail

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"Mile 2.5, Paint Branch Trail","mile 2.5, paint branch trail",39.002081,-76.937291,"https://www.google.com/maps/?daddr=39.002081,-..."

-------------------------------------------------------------------------------------
lakeland community park

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Lakeland Community Park,lakeland community park,38.988938,-76.929003,"https://www.google.com/maps/?daddr=38.988938,-..."

-------------------------------------------------------------------------------------
lakeland

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Lakeland Community Park,lakeland community park,38.988938,-76.929003,"https://www.google.com/maps/?daddr=38.988938,-..."

-------------------------------------------------------------------------------------
city of college park

,Potential Names,Latitude,Longitude,Maps
Name,,,,
"Lakeland, City of College Park","lakeland, city of college park",38.989088,-76.928593,"https://www.google.com/maps/?daddr=38.989088,-..."

-------------------------------------------------------------------------------------
holy redeemer church

,Potential Names,Latitude,Longitude,Maps
Name,,,,
Holy Redeemer Church,holy redeemer church,38.994722,-76.928461,"https://www.google.com/maps/?daddr=38.994722,-..."

-------------------------------------------------------------------------------------
mfri university

,Potential Names,Latitude,Longitude,Maps
Name,,,,
MFRI University,mfri university,38.98316,-76.928486,"https://www.google.com/maps/?daddr=38.98316,-7..."

-------------------------------------------------------------------------------------